<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Single Page Application Test</title>
    <!-- Bootstrap core CSS -->
    <link href="./vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="./vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' rel='stylesheet'
          type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800'
          rel='stylesheet' type='text/css'>

    <!-- Custom styles for this template -->
    <link href="./assets/styles/clean-blog.min.css" rel="stylesheet">
</head>
<body>
<div id="app">
    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
        <div class="container">
            <a class="navbar-brand" href="#app">{{ projectTitle }}</a>
            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
                    data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false"
                    aria-label="Toggle navigation">
                Menu
                <i class="fas fa-bars"></i>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    <li v-for="menuItem in menuItems" class="nav-item">
                        <a @click="updateView(menuItem.menuName)" class="nav-link" v-bind:href="menuItem.menuUrl">{{
                            menuItem.menuText }}</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <!-- Page Header -->
    <header class="masthead" v-bind:style="background">
        <div class="overlay"></div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-10 mx-auto">
                    <div class="site-heading">
                        <h1>{{ header.title }}</h1>
                        <span class="subheading">{{ header.subtitle }}</span>
                    </div>
                </div>
            </div>
        </div>
    </header>


    <!-- Main Content -->
    <div class="main-content">
        <section id="main-view">
            <div class="container" id="filmsView" v-show="displayView('filmsView')">
                <div class="row" v-for="(film, index) in films">
                    <div class="col-lg-8 col-md-10 mx-auto">
                        <div class="post-preview">
                            <a href="#article" @click="updateView('film'); updateItem(film.episode_id)"
                               v-bind:data-id="film.episode_id">
                                <h2 class="post-title">
                                    {{ film.title }}
                                </h2>
                                <h3 class="post-subtitle">
                                    (Episode {{ film.episode_id }})
                                </h3>
                                <p>Opening Crawl: {{ film.opening_crawl }}</p>
                                <p>Directed by {{ film.director }}</p>
                                <p>Produced by {{ film.producer }}</p>
                                <p>Release date {{ film.release_date }}</p>
                                <p class="post-meta">Entry created: {{ film.created }}</p>
                                <p class="post-meta">Entry edited: {{ film.edited }}</p>
                                <p class="post-meta">Entry URL: {{ film.url }}</p>
                            </a>
                        </div>
                        <hr>
                    </div>
                </div>
                <button class="btn btn-primary" @click="updatePage('films', 'decrease')" v-show="showNavi('films', 'previous')">Previous</button>
                <button class="btn btn-primary" @click="updatePage('films', 'increase')" v-show="showNavi('films', 'next')">Next</button>
            </div>
            <div class="container" id="peopleView" v-show="displayView('peopleView')">
                <div class="row" v-for="(person, index) in people">
                    <div class="col-lg-8 col-md-10 mx-auto">
                        <div class="post-preview">
                            <a href="#article" @click="updateView('person'); updateItem(person.name)"
                               v-bind:data-id="index">
                                <h2 class="post-title">
                                    {{ person.name }}
                                </h2>
                                <h3 class="post-subtitle">
                                    (Gender: {{ person.gender }})
                                </h3>
                                <p>Height: {{ person.height }}</p>
                                <p>Mass: {{ person.mass }}</p>
                                <p>Hair color: {{ person.hair_color }}</p>
                                <p>Skin color: {{ person.skin_color }}</p>
                                <p>Eye color: {{ person.eye_color }}</p>
                                <p>Birth Year: {{ person.birth_year }}</p>
                                <p>Homeworld: {{ person.homeworld }}</p>
                            </a>
                        </div>
                        <hr>
                    </div>
                </div>
                <button class="btn btn-primary" @click="updatePage('people', 'decrease')" v-show="showNavi('people', 'previous')">Previous</button>
                <button class="btn btn-primary" @click="updatePage('people', 'increase')" v-show="showNavi('people', 'next')">Next</button>
            </div>
        </section>
        <section id="sub-view">
            <article id="article">
                <div class="container" id="filmView" v-show="displayView('filmView')">
                    <div class="row" v-for="(film, index) in films">
                        <div class="col-lg-8 col-md-10 mx-auto" v-show="displayItem('filmView', film.episode_id)">
                            <h2 class="post-title">
                                {{ film.title }}
                            </h2>
                            <h3 class="post-subtitle">
                                Episode {{ film.episode_id }}:
                            </h3>
                            <p>Opening Crawl: {{ film.opening_crawl }}</p>
                            <p>Directed by {{ film.director }}</p>
                            <p>Produced by {{ film.producer }}</p>
                            <p>Release date {{ film.release_date }}</p>
                            <p class="post-meta">Entry created: {{ film.created }}</p>
                            <p class="post-meta">Entry edited: {{ film.edited }}</p>
                            <p class="post-meta">Entry URL: {{ film.url }}</p>
                            <h4>Characters:</h4>
                            <ul>
                                <li v-for="(character, index) in film.characters">{{ character }}</li>
                            </ul>
                            <h4>Planets:</h4>
                            <ul>
                                <li v-for="(planet, index) in film.planets">{{ planet }}</li>
                            </ul>
                            <h4>Starships:</h4>
                            <ul>
                                <li v-for="(starship, index) in film.starships">{{ starship }}</li>
                            </ul>
                            <h4>Vehicles:</h4>
                            <ul>
                                <li v-for="(vehicle, index) in film.vehicles">{{ vehicle }}</li>
                            </ul>
                            <h4>Species:</h4>
                            <ul>
                                <li v-for="(speciesItem, index) in film.species">{{ speciesItem }}</li>
                            </ul>
                            <button class="btn btn-primary" @click="updateView('films')">Return</button>
                        </div>
                    </div>
                </div>
                <div class="container" id="personView" v-show="displayView('personView')">
                    <div class="row" v-for="(person, index) in people">
                        <div class="col-lg-8 col-md-10 mx-auto" v-show="displayItem('personView', person.name)">
                            <h2 class="post-title">
                                {{ person.name }}
                            </h2>
                            <h3 class="post-subtitle">
                                (Gender: {{ person.gender }})
                            </h3>
                            <p>Height: {{ person.height }}</p>
                            <p>Mass: {{ person.mass }}</p>
                            <p>Hair color: {{ person.hair_color }}</p>
                            <p>Skin color: {{ person.skin_color }}</p>
                            <p>Eye color: {{ person.eye_color }}</p>
                            <p>Birth Year: {{ person.birth_year }}</p>
                            <p>Homeworld: {{ person.homeworld }}</p>
                            <h4>Films:</h4>
                            <ul>
                                <li v-for="(film, index) in person.films">{{ film }}</li>
                            </ul>
                            <h4>Planets:</h4>
                            <ul>
                                <li v-for="(planet, index) in person.planets">{{ planet }}</li>
                            </ul>
                            <h4>Starships:</h4>
                            <ul>
                                <li v-for="(starship, index) in person.starships">{{ starship }}</li>
                            </ul>
                            <h4>Vehicles:</h4>
                            <ul>
                                <li v-for="(vehicle, index) in person.vehicles">{{ vehicle }}</li>
                            </ul>
                            <h4>Species:</h4>
                            <ul>
                                <li v-for="(speciesItem, index) in person.species">{{ speciesItem }}</li>
                            </ul>
                            <button class="btn btn-primary" @click="updateView('people')">Return</button>
                        </div>
                    </div>
                </div>
            </article>

        </section>
    </div>
</div>
<script src="https://unpkg.com/vue"></script>
<script src="./assets/js/main.js"></script>

<!-- Bootstrap core JavaScript -->
<script src="./vendor/jquery/jquery.min.js"></script>
<script src="./vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

<!-- Custom scripts for this template -->
<script src="./assets/js/clean-blog.min.js"></script>
</body>
</html>
